:root {
    --layout-top-padding: 8rem;
    --layout-left-padding: 1.5rem;
    --layout-content-padding: 12.25rem;
    --sidebar-width: 14rem;
    --sidebar-gap: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.4;
    font-weight: lighter;
    background-color: #181818;
    color: #ffffff;
    margin-top: 10;
}

h1 {
    font-family: "Formula1 Display-Black", sans-serif;
    font-weight: 700;
}

#sidemenu {
    position: fixed;
    top: var(--layout-top-padding);
    left: var(--layout-left-padding);
    width: 14rem;
    z-index: 100;
}

#sidemenu ul {
    list-style-type: none;
}

#sidemenu ul li {
    padding-bottom: 1.2rem;
    font-weight: 200;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

#sidemenu ul li.active {
    padding-bottom: 1.7rem;
    font-weight: 700;
}

#sidemenu ul li:not(:first-child).active {
    padding-top: 0.5rem;
}

#sidemenu ul li a,
#sidemenu ul li a:hover,
#sidemenu ul li a:visited {
    color: white;
    text-decoration: none;
}

/*nav {
    position: fixed;
    font-weight: bold;
    top: 80px;
    left: 21.5%;
    transform: translateX(-50%);
    z-index: 10000;

}

nav ul {
    font-family: "Neue Haas Grotesk Display Pro", sans-serif;
    list-style: none;
    display: flex;
    gap: 60px;
    justify-content: center;
}

nav ul li {
    font-size: 1 rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.25s ease;
}

nav ul li a:hover {
    color: #e74c3c;
}*/

section {
    position: absolute;
    display: flex;
    top: 40px;
    margin: 60px 0;
    width: 100%;
    justify-content: center;
}

section h3 {
    font-family: 'Formula1 Display-Black';
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

section h4 {
    font-family: 'Formula1 Display-Black';
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 100;
    color: #e74c3c;
}

section p {
    margin-bottom: 20px;
    letter-spacing: 0.01em;
    font-weight: 400;
    font-size: 0.9rem;
}

section>.section-content {
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    background-color: #202020;
    border-radius: 8px;
}

.section-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header#hero-section {
    height: 120vh;
    background: url('Images/ferrari.png') no-repeat center center/cover;
    color: #ffffff;
    position: fixed;
    top: 1px;
    left: 1px;
    right: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

header#hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 21, 0.5);
    z-index: 1;
}

header#hero-section>#curtain {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #181818;
    z-index: 10;
}

header#hero-section * {
    position: relative;
    z-index: 2;
}

header#hero-section .hero-content h1 {
    margin-top: -280px;
    font-size: 6rem;
    margin-bottom: 1px;
}

header#hero-section .hero-content h2 {
    margin-top: -30px;
    font-size: 2.24rem;
}

header#hero-section .hero-content h2 span {
    color: #e74c3c;
}

header#hero-section .credit {
    position: absolute;
    bottom: 50px;
    right: 40px;
    font-size: 0.8rem;
}

.image-grid {
    display: flex;
    gap: 20px;
}

.image-placeholder {
    flex: 1;
    height: 150px;
    background-color: #868686;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border-radius: 4px;
}

.timeline-placeholder {
    height: 200px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border-radius: 4px;
}

section#turning-points .drivers {
    display: flex;
    gap: 20px;
}

section#turning-points .driver {
    flex: 1;
}

footer#closing {
    text-align: center;
    margin-top: 70px;
    padding: 30px;
    background-color: #181818;
}

main {
    position: relative;
    height: 100%;
}

#content {
    margin-left: calc(var(--sidebar-width) + 2rem);
}

.page {
    height: 200vh;
}

.page#page-hero {
    margin-top: 100px;
    height: 350vh;
}

#page-progress-bar {
    position: fixed;
    top: 168px;
    left: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
}

#clipper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    z-index: 10;
}

.section.hero {
    height: 150vh;
}

.section.double {
    height: 200vh;
}

.progress-bar {
    width: 1000px;
    height: 2px;
}

.progress-bar-fill {
    width: 100%;
    height: 100%;
    background-color: #e74c3c;
}

.hero-content {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0;
}

.inactive {
    opacity: 0;
    transition: 0.3s linear;
}

.active {
    opacity: 1;
    transition: all 0.3s ease-in-out, font-weight 0s linear;
}

.hidden {
    display: none !important;
}

#vis1 p {
    margin-bottom: 0;
}

#progress-bar {
    width: 100%;
    max-width: 70%;
    height: 2px;
    margin-top: 0.6rem;
}

#progress-bar>#progress-bar-fill {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #EC5031;
}

#progress-bar>#progress-bar-fill::after {
    content: '';
    width: 71.4px;
    height: 13.7px;
    margin-left: -68px;
    background: url('i/ui/sidemenu/noun_f1car.svg') 100% 100%;
    transform: translate(68px, -1px) scale(0.75);
}

#backdrop {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #181818;
    z-index: 1;
    transition: height 0.75s ease-out;
}

#backdrop.collapsed {
    height: 0vh;
}

#hero-static {
    position: fixed;
    top: 0;
    left: 0;
    background: url('i/ferrari.png') no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.25s ease-in-out;
}

#hero-static::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: -1;
}

#hero-static__content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

#hero-static__content header {
    transform: translateY(-11rem) scale(1.5);
}

#hero-static__content header h1 {
    font-size: 3.9rem;
}

#hero-static__content header h2 {
    font-family: 'Formula1 Display-Black', sans-serif;
}

#hero-static__content__prompt,
#hero-static__content__credit {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 0.65rem;
    font-weight: bold;
}

#hero-static__content__prompt {
    position: absolute;
    left: auto;
    bottom: 1rem;
}

#hero-static__content__credit {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-weight: normal;
}

#section-post-hero-spacer {
    height: 18rem;
}

.static-right-pane {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - var(--sidebar-width) - var(--sidebar-gap));
    z-index: 10;
}

#intro-static__video-bg video {
    width: 100%;
    height: 100%;
    filter: sepia(40%);
    opacity: 0.85;
}

#intro-static__video-bg video source {
    object-fit: cover;
}

#popularity-static {
    height: 100%;
    background-color: rgb(196, 196, 196);
}

.section {
    position: relative;
    padding: 2rem;
}

.section-content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#section-header h1 {
    position: fixed;
    padding: 0 0.66rem;
    display: block;
    top: calc(var(--layout-top-padding) - 0.75rem);
    left: calc(var(--sidebar-width) + 4rem);
    background-color: #181818;
    z-index: 10;
}

#section-intro {
    height: 100rem;
}

#section-intro .section-content {
    margin-top: -320px;
}

#section-f1-popularity {
    height: 300rem;
}

#section-f1-popularity .section-content {
    margin-top: -600px;
}

.text-block {
    padding: 1rem;
    width: 100%;
    font-weight: 400;
    background-color: rgba(80, 80, 80, 0.9);
    border-radius: 6px;
}

.text-block-no-bg {
    width: 100%;
    font-weight: 400;
}

.sticky {
    position: sticky;
    top: var(--layout-content-padding);
    left: 0;
    height: fit-content;
    z-index: 10;
}

.image-grid {
    display: flex;
    padding: 1rem;
    width: 100%;
    font-weight: 400;
    background-color: rgba(80, 80, 80, 0.9);
    border-radius: 6px;
    justify-content: space-between;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding-med {
    padding: 2em;
}

.color-dark-gray {
    color: #181818;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.col-2 {
    grid-column-start: 2;
}

.row-2 {
    grid-row-start: 2;
}

/* citation: https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
    width: 25rem;
    background: none;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    color: #fff;
    font-family: 'Libre Bodoni';
    font-size: 1.25rem;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
    color: #ccc;
    color: #333333;
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

#section-f1-popularity__racetrack-map-block {
    height: 100%;
}

#grid-racetrack-map {
    height: 100%;
    grid-template-columns: 19rem max-content;
    gap: 2rem;
}

#racetrack-map {
    margin-top: 0.3rem;
    background-color: #181818;
    z-index: 10;
}

#racetrack-map-textboxes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#racetrack-map-textboxes > div {
    position: absolute;
}

#racetrack-map-textboxes .map-textbox {
    font-weight: 400;
    color: #212020;
    background: rgba(255, 255, 255, 0.9);
    text-shadow: none;
}

#racetrack-map-textboxes .map-textbox::before, #racetrack-map-textboxes .map-textbox::after {
    border-top: 10px solid rgba(255, 255, 255, 0.9);
}

#racetrack-map-textboxes__box_monaco {
    top: 240px;
    left: 445px;
}

#racetrack-map-textboxes__box_suzuka {
    top: 260px;
    left: 748px;
}